- if (current_user == @user)
  %h1 Your Profile
- else
  %h1 #{@user.username}'s Profile
%h3= @user.username
%h4= @user.email

- if current_user == @user
  Drafts

-if current_user
  -if (current_user == @user)
    %h4 This is your profile
