%h1 Welcome to Copilot!
.row
  .large-6.columns
    %h2 This is an app created to help people get together for similar trips and share the gas money.
    %button Sign Up!
    %button Log in!
  .large-6.columns
    %h2 test
