#home-container
  .row
    .small-12-columns
      %h1 Welcome to Copilot!
  .row
    .large-8.columns
      %h2 This is an app created to help people get together for similar trips and share the gas money.
    .large-4.columns
      = link_to "Sign up now!", new_user_registration_path, class: "button button-3d-action button-circle"
