/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

$yellow: #BBFF32;
$lightblue: #3BE7FF;
$blue: #6222E8;
$red: #FF3433;
$orange: #E8A122;

/* Global */

.top-bar {
  background: $orange !important;

  .top-bar-section{
    ul{
      li{
        a{
        background: $orange !important;
        }

        a:hover{
          background: $blue !important;
        }
      }
    }
  }
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
#logo:hover {
  color: $blue;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid lightgrey;
  color: lightgray;
  a {
    color: gray;
    &:hover {
      color: darkgrey;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
