/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(http://fonts.googleapis.com/css?family=Tinos);

$yellow: #BBFF32;
$lightblue: #3BE7FF;
$blue: #00a9d5;
$red: #FF3433;
$orange: #E8A122;
$blornge: #504531;

h1, h2, h3, h4, h5 {
  font-family: "Tinos" !important;
  color: white !important;
}

.space {
  margin: 20px 0;
}

/* Body */

body {
  background-image: image-url('dark_Tire2.png') !important;
}

#container {
  button {
    background: $blue;
    a {
      color: white;
    }
  }
}

/* header */

.top-bar {
  background: $blue !important;

  .top-bar-section{
    ul{
      li{
        a{
        background: $orange !important;
        }

        a:hover{
          background: $blue !important;
        }
      }
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
#logo:hover {
  color: $red;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid lightgrey;
  color: lightgray;
  a {
    color: gray;
    &:hover {
      color: darkgrey;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* Profile */

.image{
  width: 200px;
  margin: 40px;
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);

	zoom: 1;

  .profile-image {
    height: 200px;
    width: 200px;
  }
}
