// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(http://fonts.googleapis.com/css?family=Tinos);
@import url(http://fonts.googleapis.com/css?family=Monoton);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Trade+Winds);

$yellow: #BBFF32;
$lightblue: #3BE7FF;
$blue: #35484D;
$red: #FF3433;
$orange: #E8A122;
$blornge: #504531;
$purple: #99389f;
$green: #84bf00;

#travel{
  position: relative;

  #travel_info {
    position: absolute;
    top: -10em;
    right: 5em;

    h4 {
      color: $red !important;
      font-family: 'Tinos' !important;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    }
  }
}

fieldset{

  background: $blue;

  label {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  select, input {
    height: 35px;
    font-size: 10px;
  }
}

ol {
  li {
    color: white;
  }
}

li {
  a {
    span {
      color: $green;
    }
  }
}
.f-dropdown {
  padding: 20px;
  border: 2px solid $orange;
  border-radius: 10px;

  h4 {
    font-size: 1em;
    color: blue !important;
  }

  span {
    font-weight: bold;
    color: black;
  }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  height: 2.2em;
}
