// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #84bf00;

table{
  box-shadow: 5px 5px 5px #888888;
}

.profile-image{
  height: 350px;
  width: 350px;
  background-size: cover;
  margin: 0 0 0 40px;
}
