%footer.footer
  %small
    %a{:href => "http://github.com/finleysa"} COPILOT
  %nav
    %ul
      %li= link_to "About",  "#"
      %li= link_to "Contact", "#"
      %li
        %a{:href => "www.google.com/news"} News
