%footer.footer
  %small
    %a{:href => "http://github.com/finleysa"} COPILOT
  %nav
    %ul
      %li= link_to "About",  "#"
      %li= link_to "Contact", "#"
      %li
        %a{:href => "www.google.com/news"} News
%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAmN0r1eJV2qHS3UZUpS8ytISU7etkg0ZI", :type => "text/javascript"}
%script{:src => "trips.js"}
